	<!DOCTYPE html>
	<html>
	<head>
	<%= stylesheet_link_tag 'old/home' %>
	</head>
	<body>
	<div id="buscar">
	  <form>
	    <input type="search" name="search" placeholder="&iquest;Cu&aacute;l es tu tema?">
	  </form>
	  </div>
	  <div id="login">
	    <h1>Acceder</h1>
	    <hr style="color:white;">
	    <form>
	      <label for="fname">Usuario:</label>
	      <input type="text" id="fname" name="user">
	      <label for="fname">Contrase&ntilde;a:</label>
	      <input type="password" id="fname" name="password">
	      <input type="submit" value="Enviar">
	    </form>
	  </div>
	  <a href="#" class="button">Reg&iacute;strate</a>
	  <%#<div class="footer">
	  	<%= link_to "Contacto", contacto_path %>
	  <%#</div> %>
	</body>
	</html>
