<%= stylesheet_link_tag 'css/group_table' %>

<h1>Editing Student</h1>

<%= render 'form', student: @student %>

<%= link_to 'Show', @student, :class=>"btn btn1" %>
<%= link_to 'Back', students_path, :class=>"btn btn1" %>
