<p id="notice"><%= notice %></p>

<h1>My Events</h1>

<p id="notice"><%= notice %></p>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<br>
<div class="container">
  <div id="calendar">
  </div>
</div>
<script type="text/javascript">
$('#calendar').fullCalendar({
  theme: true,
  height: "auto",
  selectable: true,
  selectHelper: true,
  editable:true,
  eventLimit: 3,
  header: {
    left: 'title',
    center: 'prevYear,month,agendaWeek,agendaDay,nextYear',
    right:  'today prev,next'
  },
  views: {
      agendaFourDay: {
          type: 'agenda',
          duration: { days: 4 },
          buttonText: '4 day'
      }
  },
  events: '/event_students.json'
});
</script>
<br>
<%= link_to 'New Event Student', new_event_student_path %>
