<%= stylesheet_link_tag 'css/group_table' %>

<h1 style="color: #95b33b; text-align: center; margin-top: 5%">Editing Investigation Group</h1>

<%= render 'form', investigation_group: @investigation_group %>

<%= link_to 'Investigation Group', investigation_group_path, :class=>"btn btn1" %>
