<%= stylesheet_link_tag 'css/group_table' %>

<h1 style="color: #95b33b; text-align: center; margin-top: 5%">New Investigation Group</h1>

<%= render 'form', investigation_group: @investigation_group, :class=>"btn btn1" %>

<%= link_to 'Investigation Groups', investigation_groups_path, :class=>"btn btn1" %>
