<!DOCTYPEW html>
<html>
  <head>
    <title>Investigation Groups</title>


  </head>
  <body>
      	<%= stylesheet_link_tag 'css/style' %>
    <form class='Group'>
      <div><label>Name Investigation Group:</label><input type='text' value=''></div>
      <div><label>Name teacher owner:</label><input type='text' value=''></div>
	  <div><label>Lastname teacher owner:</label><input type='text' value=''></div>
	  <div><label>Institutional user teacher owner:</label><input type='text' value=''></div>
      <div><label>Descripcion Group:</label><textarea rows='6' cols ='50'></textarea></div>
      <div><input type= 'submit' value= 'Register'></div>
    </form>

  </body>

</html>
