<%= stylesheet_link_tag 'css/request' %>

<div class="container">
  <div class="row">
    <section class="content">
      <h1>Requests</h1>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
              <div class="media">
                <div class="media-body">
                  <h4 class="title">
                    Nombre de usuario
                  </h4>
                  <p class="summary">Nombre Apellido</p>
                </div>
              </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Role
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Teacher</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
                  </ul>
                </div>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">State
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pending</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aproved</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rejected</a></li>
                  </ul>
                </div>
            </td>
          </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                      Nombre de usuario
                    </h4>
                    <p class="summary">Nombre Apellido</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Role
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Teacher</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
                    </ul>
                  </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">State
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pending</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aproved</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rejected</a></li>
                    </ul>
                  </div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td>
                <div class="media">
                  <div class="media-body">
                    <h4 class="title">
                      Nombre de usuario
                    </h4>
                    <p class="summary">Nombre Apellido</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Role
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Teacher</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
                    </ul>
                  </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn1 dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">State
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pending</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Aproved</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rejected</a></li>
                    </ul>
                  </div>
              </td>
            </tr>
        </table>
      </div>
    </section>
  </div>
</div>
