<%= stylesheet_link_tag 'css/group_table' %>

<h1 style="color: #95b33b; text-align: center; margin-top: 5%">Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event, :class=>"ui-button ui-corner-all ui-widget" %>
<%= link_to 'Back', eventsGroup_investigation_groups_path, :class=>"ui-button ui-corner-all ui-widget" %>
