<% if student_signed_in?%>
<%= render 'index',@events=> Event.myEvents(:id=>current_student.id) %>
<% else %>
<%= render 'index',@events=> Event.myEvents(:id=>current_teacher.id) %>
<% end %>
<!-- a view -->
<button class="js-push-button">Send a message</button>

<script type="text/javascript">
  (function() {
    $('.js-push-button').on("click", function onClick() {
      $.post("/push");
    });
  })();
</script>
