<p id="notice"><%= notice %></p>
<br>
  <div class="container" id="calendar">
  </div>

<script type="text/javascript">
$('#calendar').fullCalendar({
  theme: true,
  height: "auto",
  selectable: true,
  selectHelper: true,
  editable:true,
  eventLimit: 3,
  header: {
    left: 'title',
    center: 'prevYear,month,agendaWeek,agendaDay,nextYear',
    right:  'today prev,next'
  },
  views: {
      agendaFourDay: {
          type: 'agenda',
          duration: { days: 4 },
          buttonText: '4 day'
      }
  },
  events: '/events.json'
});
</script>

<br>
<%= link_to_if teacher_signed_in?, 'New Event', new_event_path, :class=>"btn btn-success" %>
<br>

<!-- a view -->
<button class="js-push-button">Send a message</button>

<script type="text/javascript">
  (function() {
    $('.js-push-button').on("click", function onClick() {
      $.post("/push");
    });
  })();
</script>

<!--
<script type="text/javascript">
var config = {
  apiKey: "AIzaSyBd16u6nNx4C2QnpiDoP9oEvK5eqJ3rlQk",
  authDomain: "sigit-165416.firebaseapp.com",
  databaseURL: "https://sigit-165416.firebaseio.com",
  projectId: "sigit-165416",
  storageBucket: "sigit-165416.appspot.com",
  messagingSenderId: "663648725570"
};
firebase.initializeApp(config);
const messaging = firebase.messaging();
messaging.requestPermission()
.then(function(){
console.log('Have permission');
return messaging.getToken();
})
.then(function(token){
  console.log(token);
})
.catch(function(err){
console.log('Error occurred: '+err);
})

messaging.onMessage(function(payload) {
  console.log('onMessage: ',payload);
});

</script>
-->
