<%= stylesheet_link_tag 'css/group_table' %>

<h1 style="color: #95b33b; text-align: center; margin-top: 5%">Editing Contribution</h1>

<%= render 'form', contribution: @contribution %>

<%= link_to 'Show', @contribution, :class=>"ui-button ui-corner-all ui-widget" %>
<%= link_to 'Back', contributionsGroup_investigation_groups_path, :class=>"ui-button ui-corner-all ui-widget" %>
