<%= stylesheet_link_tag 'css/group_table' %>

<h1>Editing Contribution</h1>

<%= render 'form', contribution: @contribution %>

<%= link_to 'Show', @contribution, :class=>"btn btn1" %>
<%= link_to 'Back', contributionsGroup_investigation_groups_path, :class=>"btn btn1" %>
