<h1>Editing Contribution</h1>

<%= render 'form', contribution: @contribution %>
<br>
<p>Please in investigation group field put the investigation group's id</p>
<%= link_to 'Show', @contribution %> |
<%= link_to 'Back', contributions_path %>
