<h1>New Contribution</h1>

<% @contribution.investigation_group_id = @contribution_group.id %>

<%= render 'form', contribution: @contribution  %>

<%= link_to 'Back', contributionsGroup_investigation_groups_path(@contribution_group) %>
