<%= stylesheet_link_tag 'css/member' %>

<div class="container">
  <div class="row">
    <section class="content">
      <h1>Tags</h1>
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-filter">
        </table>
      </div>
    </section>
  </div>
</div>
<%= link_to 'Back', contributionsGroup_investigation_groups_path(:id=>params[:investigation_group_id]), :class=>"btn btn2" %>
