<h1>Editing Tag Investigation Group</h1>

<%= render 'form', tag_investigation_group: @tag_investigation_group %>

<%= link_to 'Show', @tag_investigation_group %> |
<%= link_to 'Back', tag_investigation_groups_path %>
