<h1>Editing History Group</h1>

<%= render 'form', history_group: @history_group %>

<%= link_to 'Show', @history_group,:class=>"ui-button ui-corner-all ui-widget" %> |
<%= link_to 'Back', history_groups_path ,:class=>"ui-button ui-corner-all ui-widget"%>
