<!DOCTYPE html>
<html>
  <head>
    <title>SistemaDeInformacionDeTesis</title>
    <title>Sistema de información de tesis :: Universidad Nacional de Colombia</title>
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
